@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Welcome to Restaurant Rater. Honest reviews from people that do not exist!</p>
    <p><a href="https://www.google.com/search?q=restaurants+near+me" class="btn btn-primary btn-lg" target="_blank">Find Restaurants Near You &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Restaurant Rater has a lot to offer. From User Reviews to replies from those restaurants themselves we will have everything you need. Discovering the perfect place to eat was never as easy as it is now.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more out of our site</h2>
        <p>Learn how to update your information within our site to personalize this experience to match your... tastes?.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Careers</h2>
        <p>You can easily find a company that offers the right mix of work and pay. You are already at one of them.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>